.loader{
    height:100px;
    width: 100px;
    border-radius: 50%;
    border:10px solid black; 
    border-left: 10px solid blanchedalmond;
    animation: spinAnimate 3s ease-in 0s infinite normal ;
}

@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}